$modalBackgroudColorSecondary: #00000080;
$modalBackgroudColorTertiary: #f9f9f9;
$p-marginColor: #ffffff80;

$shadow: #00000033;
$black: #111111;
$baseColor: #515151;
$secondary-color: #2b2a2a;
$tertiary-color: #2b2a2c;
$quaternary: #1a1a1a;
$text-primary-color: #f9f9f9;
$text-secondary-color: #ffffff80;
