@import './color-palette.scss';

.user-opinion-p {
    margin-bottom: 15px;
}

.user-opinion-form {
    position: sticky;    
    left: 0;
    margin-left: 0;
    background-color: #515151;
    margin-top: -5px;
    padding: 10px;
}

.user-opinion-textbox {

    width: 560px;
    border-color: aliceblue;
    background-color: transparent;
    color: aliceblue;
    margin-right: 20px;
    position: fixed;

}

.user-opinion-textbox2 {

    width: 175px;
    border-color: aliceblue;
    background-color: transparent;
    color: aliceblue;

    position: fixed;

}

.user-opinion-list-content {
    position: absolute;
    padding-bottom: 40px;
    margin-top: 140px;
    height: 120px;
    width: 780px;
    flex: 1 1;
    overflow-y: scroll !important;
    overflow: auto;
}

/**************************/

@at-root.sidepanel {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 250px;
    top: 0;
    right: 0;
    margin-right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: red;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.expand-menu{
    width: 450px;
}

.hide-menu{
    width: 0px;
}