@import './color-palette.scss';

.user-opinion-p{
    margin-bottom: 15px;
}
.user-opinion-form{
    position: fixed;
    background-color: $base-color;
}

.user-opinion-textbox{
    
    width: 595px;    
    border-color: aliceblue;
    background-color: transparent ;
    color: aliceblue;
    margin-right: 20px;    
    position: fixed;
    
}

.user-opinion-textbox2{
    
    width: 175px;    
    border-color: aliceblue;
    background-color: transparent ;
    color: aliceblue;
        
    position: fixed;
    
}

.user-opinion-list-content{
    //background-color: antiquewhite;
    position: absolute;
    padding-bottom: 40px;
    margin-top: 140px;
}