$mtbx-secondary: #f9f9f9;
$mtbx-tertiary: #919191;
$mtbx-quaternary: #23c79a;


.wraper {
    position: relative;
}

label{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    pointer-events: none;
    color: #919191;    
}

input{
    width: 280px;
    height: 56px;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #919191;
    outline: none;
    padding: 0;
    color: #f9f9f9;
    font-size: 18px;
    margin-bottom: 10px;
}

@keyframes in {
    0%{
        left: 0;
        right: auto;
        opacity: 1;
    }
    50%{
        left: 0;
        right: auto;
        opacity: 0;
        scale: 1;
    }
    50.1%{        
        left: auto;
        right: 0;
        opacity: 0;
        scale: 0.85;
    }
    100%{
        color: #23c79a;
        left: auto;
        right: 0;
        opacity: 1;
        scale: 0.85;
    }
}

:is(input:focus, input.has-value)
~ label{
    animation: in 0.5s both;
}

input:focus,
input.has-value{
    border-color: #23c79a;
}